<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-0">
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <%= translate_aqi_metric(metric) %>
    </div>

</div>
<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-0">
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <%= human_readable %>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-0">
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 aqi-bar-border">
        <div class="aqi-bar-filler aqi-color-<%= aqi_value_to_range(value) %>" style="width: <%= (value.to_f / 500) * 100 %>%"><%= value %></div>
    </div>
</div>
<br />