<h2>
Weather
</h2>
<br />
<br />
Current weather: <%= @data[:weather] %>
<br />
Temp / Pressure / Humidity: <%= @data[:weather_numeric] %>
<br />
Wind: <%= @data[:wind] %>
<br />
Rain: <%= @data[:rain] %>
<br />
Clouds: <%= @data[:cloud] %>