<% content_for(:title, @data[:city].blank? ? 'Here' : @data[:city]) %>
<div class="container-fluid">
    <div class="page-header text-center big-font">
        <div class="row">
            <div class="col-12">
                Everything About 
                <% if @data[:city].blank? %>
                    Here
                <% else %>
                    <%= @data[:city] %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="glyphicon glyphicon-map-marker"></span>
            </div>
        </div>
    </div>
    <%= render partial: 'geographic_data' %>
    <hr />
    <% if service_succeeded? @data, WeatherService %>
        <%= render partial: 'weather' %>
        <hr />
    <% end %>
    <div class="row text-center">
        <% if service_succeeded? @data, NASAService %>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <%= render partial: 'google_data' %>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <%= render partial: 'nasa_data' %>
            </div>
        <% else %>
            <div class="col-12">
                <%= render partial: 'google_data' %>
            </div>
        <% end %>
    </div>
    <hr />
    <% if service_succeeded? @data, BroadbandMapService %>
        <%= render partial: 'demographics' %>
        <hr />
    <% end %>
    <% if service_succeeded? @data, GooglePlaceService %>
        <%= render partial: 'nearby_places' %>
        <hr />
    <% end %>
    <% if service_succeeded? @data, CountryService %>
        <%= render partial: 'country_data' %>
        <hr />
    <% end %>
    <%= render partial: 'ad' %>
</div>