<% content_for(:title, @data[:city].blank? ? 'Here' : @data[:city]) %>
<div class="container-fluid">
    <div class="page-header text-center big-font">
        <div class="row">
            <div class="col-12">
                Everything About 
                <% if @data[:city].blank? %>
                    Here
                <% else %>
                    <%= @data[:city] %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="glyphicon glyphicon-map-marker"></span>
            </div>
        </div>
    </div>
    <%= render partial: 'geographic_data' %>
    <hr />
    <%= render partial: 'weather' %>
    <hr />
    <div class="row text-center">
        <div class="col-md-6 col-sm-12">
            <%= render partial: 'google_data' %>
        </div>
        <div class="col-md-6 col-sm-12">
            <%= render partial: 'nasa_data' %>
        </div>
    </div>
    <hr />
    <%= render partial: 'nearby_places' %>
    <hr />
    <%= render partial: 'country_data' %>
    <!-- <hr />
    <%= render partial: 'venues' %>
    <hr />
    <%= render partial: 'parking' %>
    <hr />
    !-->
    <hr />
    <%= render partial: 'ad' %>
</div>